.btn {
	display: inline-block;
	font-family: var(--font-family);
	font-weight: 700;
	border: none;
	transition: color 0.3s ease, background-color 0.3s ease;
	cursor: pointer;
	user-select: none;
	line-height: 1;
}

.btn:disabled {
	cursor: default;
	pointer-events: none;
	opacity: 0.5;
}

.btn:active {
	transform: translate(0, -1px);
}

.primary {
	color: var(--white-base);
	background: var(--orange-base);
}

.secondary {
	color: var(--orange-base);
	background: var(--orange-smooth);
}

.small {
	padding: 0.4688rem .6875rem 0.3438rem;
	font-size: 0.6875rem;
	border-radius: 1rem;
}

.large {
	padding: 0.75rem 1rem;
	font-family: Helvetica;
	font-size: 1rem;
	line-height: 1.5rem;
	border-radius: 2.5rem;
}

@media (any-hover: hover) {
	.primary:hover {
		color: var(--orange-base);
		background: var(--orange-smooth);
	}

	.secondary:hover {
		color: var(--white-base);
		background: var(--orange-base);
	}
}