.title {
	margin: 0;
	font-weight: 700;
	line-height: 128%;
}

.h1 {
	font-size: 1.75rem;
}

.h2 {
	font-size: 1.5rem;
}

.h3 {
	font-size: 1.25rem;
}

.h4 {
	font-size: 1rem;
}

.center {
	text-align: center;
}